.domaine {
	min-height: 85vh;
	padding: 100px 0px 100px;
	background: /* top, transparent red, faked with gradient */ linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
		url('../../../assets/images/background/bg_1.jpg') no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	text-align: center;
	/* background: rgb(0,100,66, 0.90); */
	color: white;
	/* filter: blur(3px);
	-webkit-filter: blur(3px); */
	/* overflow: hidden; */
}
.bg-text-domaine {
	color: white;
	position: absolute;
	top: 70%;
	left: 30%;
	transform: translate(-50%, -50%);
	z-index: 2;
	padding: 20px;
	text-align: center;
}
.mypadding {
	padding: 50px;
}
.domCard {
	width: 50%;
	color: black;
	margin-top: 7.5%;
}

.about-domaine {
	min-height: 80vh;
	background: /* top, transparent red, faked with gradient */ linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
		url('../../../assets/images/other/jeunesse.jpg') no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	text-align: center;
	color: white;
	margin-top: 0%;
	padding-top: 10%;
}

@media only screen and (max-width: 1000px) {
	.domCard {
		width: 95%;
		color: black;
		margin-top: 7.5%;
	}
}
