.login {
  min-height: 100vh;
  padding: 100px 0px 100px;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../../../assets/images/background/home_bg.jpg") no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /* text-align: center; */
  /* background: rgb(0,100,66, 0.90); */
  color: white;
}
